{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

{{!-- <div class="p-5 box">
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="button">Купити</button>

    <p class="user">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi doloribus eos ipsa?</p>
</div>

    <footer class="p-5 box">
        <h1>asdasfa</h1>

        <p class="user">asdfasfa</p>
    </footer>

    <footer class="p-5 box">
        <h1>asdasfa</h1>

        <p class="user">
            <em class="child">test EM</em>
        </p>

        <div>
            <div>
                <em class="child">sdasd</em>
            </div>
        </div>

        <em class="child">sdasd</em>
    </footer>

    <footer class="p-5 box">
        <h1>asdasfa</h1>

        <p class="user">asdfasfa</p>
    </footer> --}}

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}

    <div class="card p-5 m-5 card-dark">
        <div class="item">1</div>
        <p class="item">2</p>
        <article class="item">3</article>
    </div>
