/* :root {
  background: purple;
}

html {
  max-width: 720px;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

.box {
  background: #fff;
}

#user, .user {
  color: blue;
}

h1, h2, button {
  color: aqua;
}

h1.button {
  color: black;
  background: red;
}

div > p {
  color: brown;
}

footer > .user {
  color: chartreuse;
}

footer .child {
  color: chartreuse;
}

h1 + p {
  background: black;
} */


.card-dark {
  background: #ededed;
}

.item {
  color: green;
}

.item:first-of-type {
  color: blue;
}

.item:nth-child(1) {
  color: purple;
}

.input-dark {
  background: #979797;
}

.input-dark[required] {
  background: #680505;
}

.input-dark[type="number"] {
  background: #010757;
}

.small-img[alt~="small"] {
  height: 500px;
}

button[class|="btn"] {
  background: rgb(167, 8, 106);
}

a[class*="btn"] {
  background: red;
}

a[class$="big"] {
  background: rgb(184, 127, 5);
}

.btn::first-letter {
  color: red;
}

.input-dark::placeholder {
  color: darkgreen;
}

.big-text::before,
.big-text::after {
  content: "$$$";
  color: blue;
}