.card {
  
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus, p:active, p:hover {
  -webkit-text-fill-color: rgb(33, 172, 148);
  -webkit-text-stroke: 1px rgb(211, 62, 154);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: center;
}

span {
  text-transform: uppercase;
  text-decoration: underline dotted red;
  text-decoration-color: blue;
}

pre {
  tab-size: 10px;
  letter-spacing: normal;
}