:root {
  --text-color: #212529;
  --space-medium: 24px;
}

.page {
  background: #fff;
  padding: 0 15px;
}

.page-content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: var(--space-medium);

  border-bottom: 1px solid #dee2e6;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}

.nav {
}

.nav-link {
  color: #343a40;
  font-size: 16px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: blue;

  opacity: 70%;
}

.nav-vertical > .nav-link {
  display: block;
}

.nav-inline > .nav-link:not(:last-child) {
  margin-right: var(--space-medium);
}

.nav-vertical > .nav-link:not(:last-child) {
  margin-bottom: 12px;
}

.header-nav-right {
  margin-left: auto;
  width: fit-content;
}

.page-block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding: var(--space-medium) 0px;

  border-top: 1px solid #dee2e6;
}

.footer-copyright {
  font-size: 14px;
  color: #6c757d;

  display: block;
  margin-top: 12px;
}

.footer-title {
  font-size: 20px;
  color: var(--text-color, #212529);

  display: block;
  margin-bottom: 12px;
}

.hero-title {
  font-size: 56px;
  color: var(--text-color, #212529);
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.hero-text {
  font-size: 20px;
  color: var(--text-color, #212529);
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
}

.plans-card:not(:last-of-type) {
  margin-right: var(--space-medium);
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: var(--space-medium);
  color: var(--text-color, #212529);
}

.card-body {
  padding: var(--space-medium);
}

.card-price {
  text-align: center;
  margin-bottom: var(--space-medium);
  font-size: 40px;
  color: var(--text-color, #212529);
}

.card-price-duration {
  font-size: 29px;
  color: #6c757d;
}

.card-block {
  margin-bottom: var(--space-medium);
  text-align: center;
}

.card-block:not(:last-of-type) {
  margin-bottom: var(--space-medium);
}

.card-description-item {
  font-size: 16px;
  color: var(--text-color, #212529);
  display: block;
  text-align: center;
}

.card-description-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card-button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  border: 1px solid red;

  border-radius: 15px;

  box-shadow: 0px 0px 0px 10px rgba(126, 11, 11, 0.363);
}

.card:hover {
  outline: 1px solid #dee2e6;
  outline-offset: 5px;

  opacity: 0.5;
}

h1 {
  text-shadow: 2px 2px 2px red;
}

.plans-card:nth-child(2) {
  visibility: hidden;
}

p {
  background: gray;
  width: 200px;
  height: 100px;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: pre;
}

.hero-text {
  padding: 40px;
  color: green;
  border-image-source: url(/img/dog.jpg);
  border-image-width: 100px;
  border-image-slice: 10;
  border-image-repeat: space;
  border-image-outset: 10px;
}

.page {
  /* background-image: url(/img/dog.jpg);

  background-repeat: no-repeat;

  background-position: bottom;

  background-size: contain; */
}

.card-block {
  /* list-style-type: disc; */
  list-style-position: inside;
  /* list-style-image: url(/img/dog.jpg); */
  padding: 0;
}

.card-description-item {
  display: list-item;
}

.table tr {
  border: 1px solid #343a40;
}

.table tr td {
  border: 1px solid #4f6983;
  border-bottom-color: red;
  border-right-color: blue;
}

.table {
  table-layout: fixed;
  width: 600px;

  border-collapse: unset;
  border-spacing: 10px;

  caption-side: top;

  empty-cells: hide;
}

.nav-link::before, .nav-link::after {
  content: open-quote;
}

.calc {
  width: 600px;

  margin-left: calc(50% - (600px / 2));
}